{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <header class="navbar">
      <section class="navbar-section">
        <a class="btn btn-primary" href="{{ path('add_banner') }}">Add a banner</a>
        <a class="btn btn-primary" href="{{ path('add_creator') }}">Add a creator</a>
      </section>
    </header>
    <ul>
    {% for banner in banners %}
        {{ dump(banner) }}
    {% else %}
        <li>No banner</li>
    {% endfor %}
    </ul>
  </div>
{% endblock body %}
