{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <header class="navbar">
      <section class="navbar-section">
        <a class="btn btn-primary" href="{{ path('add_banner') }}">Add a banner</a>
        <a class="btn btn-primary" href="{{ path('add_creator') }}">Add a creator</a>
      </section>
    </header>
    {% for banner in banners %}
        <article>
            <label>{{ banner.name }}</label>
        </article>
    {% else %}
        <b>No banner</b>
    {% endfor %}
  </div>
{% endblock body %}
